:root {
  /* primary */
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  /* neutral */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: var(--Pale-blue);
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain  ;
  background-position: center top;
}

.card {
  width: 20.51rem;
  margin: 4.45rem auto;
  overflow: hidden;
  border-radius: 1.3rem;
  padding-bottom: 1rem;
  background-color: white;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  margin: 0 auto;
  width: 17rem;
  text-align: center;
}

.card-content h1 {
  margin-top: 1.85rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--Dark-blue);
}

.card-content p {
  margin-top: 1.1rem;
  font-size: 0.98rem;
  line-height: 1.6;
  color: var(--Desaturated-blue);
}

.card-price {
  width: 16.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  background-color: var(--Very-pale-blue);
  border-radius: 0.75rem;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
}

.price-icon {
  width: 3rem;
  margin-right: 1.2rem;
  margin-left: 0.5rem;
}

.price-icon img {
  display: block;
  width: 100%;
  height: auto;
}

.price-content {
  margin-right: auto;
}

.price-content h2 {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  font-weight: 900;
  color: var(--Dark-blue);
}

.price-content p {
  color: var(--Desaturated-blue);
  font-size: 0.9rem;
}

.price-action {
  font-size: 0.8rem;
  color: var(--Bright-blue);
  font-weight: 700;
  margin-right: 0.6rem;
  text-decoration: underline;
}

.price-action:hover {
  text-decoration: none;
  opacity: 0.7;
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.92rem 0;
  font-weight: 900;
  font-size: 0.95rem;
}

.button-proceed {
  background-color: var(--Bright-blue);
  color: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.button-proceed:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button-cancel {
  margin-top: 0.6rem;
  color: var(--Desaturated-blue);
}

.button-cancel:hover {
  color: var(--Dark-blue);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }

  .card {
    margin: 6.35rem auto;
    width: 28.1rem;
    padding-bottom: 2.15rem;
  }

  .card-content {
    width: 19rem;
  }

  .card-content h1 {
    margin-top: 2.85rem;
    font-size: 1.75rem;
  }

  .card-content p {
    margin-top: 1rem;
    line-height: 1.65;
    letter-spacing: 0.01rem;
  }

  .card-price {
    width: 20rem;
    margin-top: 1.3rem;
    border-radius: 0.75rem;
    padding: 1.52rem 1rem;
  }

  .price-icon {
    margin-left: 0.45rem;
    margin-right: 1.3rem;
  }

  .price-content h2 {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }

  .price-content p {
    font-size: 1rem;
    line-height: 1.1;
  }

  .price-action {
    font-size: 0.9rem;
    margin-right: 0.35rem;
  }

  .button-group {
    width: 22.1rem;
    margin-top: 2.05rem;
  }

  .btn {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.92rem 0;
    font-weight: 900;
    font-size: 0.95rem;
  }

  .button-proceed {
    background-color: var(--Bright-blue);
    color: white;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }

  .button-proceed:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .button-cancel {
    margin-top: 1.05rem;
    color: var(--Desaturated-blue);
  }

  .button-cancel:hover {
    color: var(--Dark-blue);
    cursor: pointer;
  }
}
